{% extends 'base.html' %} &nbsp;{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" rel="stylesheet">
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="split left" id="">
        <div class="bloc_left">
            <img src="img/icon.svg" alt="" id='logo'>
                <p id="reg">Регистрация</p>
                    <div id="reg_feild">
                      <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Ваше имя" name="name" required>                    
                        <input type="email" placeholder="Ваш Email" name="email" required>  
                        <input type="password" placeholder="Придумайте пароль" name="psw" required>
                      </form>
                </div>                                          
                    <div class="button_reg" >
                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.884 1.061L12.944 0L21.96 9.01599L12.944 18.032L11.884 16.971L19.089 9.76599H-4.95911e-05V8.26599H19.089L11.884 1.061Z" fill="white"/>
                        </svg>                                
                        <span><a type="submit">Регистрация</span>
                    </div>
                        <div class="login_feild">
                            <p>Уже есть аккаунт? <a href="#" id="a">Войти</a></p>                        
                        </div>
        </div>

    <section class="split right" id="">
        <div class="bloc_right">
            <img src="img/right.png" alt="">
        </div>
    </section>
    {% endblock content %}



    
    <script src="js/jquery-3.6.0.min.js"></script>
</body>
</html>