{% load static %}
<html>
  <head>
    <title>Admin Page</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Home Link</a></h1>
        </div>
    </header>
    <div>
      {% if user.is_authenticated %}
        <p>Добро пожаловать, {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Войти</a>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>